body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: grid;
  height: 100vh;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

.background-image {
  position: relative;
  filter: url('#filter1');
  cursor: none;
}

.background-image img {
  width: 100%;
}

.background-image p {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: calc(2rem + 1vw);
  pointer-events: none;
}

.background-image p img {
  width: clamp(3rem, 10vw, 9rem);
  filter: invert();
}

.background-image > p:nth-of-type(1) {
  top: 0;
  left: 10%;
}
.background-image > p:nth-of-type(2) {
  top: 20%;
  right: 10%;
}
.background-image > p:nth-of-type(3) {
  top: 45%;
  left: 15%;
}
.background-image > p:nth-of-type(4) {
  top: 70%;
  right: 20%
}

#circle {
  transition: cx 0.3s ease-out, cy 0.3s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}