body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: grid;
  height: 100vh;
  align-items: center;
}

.background-image {
  position: relative;
  filter: url('#filter1');
  cursor: none;
}

.background-image img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}